@'
# Go build
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs & CSV
*.log
*.csv

# IDE
.vscode/
.idea/
dist/
sample_files/
build/

# Windows
Thumbs.db
Desktop.ini
'@ | Out-File -Encoding utf8 .gitignore

# pyinstaller
extract_spl.spec